/*
Primary :- #0F1519
Secondary :- #405B6B
Secondary Light :- #37878C
Offse :- #314B5B;

*/

.main {
    margin-top: 59.05px;
}

html {
    scroll-behavior: smooth;
}

html body {
    background-color: white;
    font-family: 'DM Sans';
}

h1 {
    font-size: 25px;
    color: #314B5B;
}

i {
    color: #314B5B;
}

p {
    color: #314B5B;
}

/*NAVBAR*/

.navContainer {
    background-color: #0f1519;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.navFlexContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-align: right;
}

.navbar-nav a {
    color: #dfdfdf !important;
    padding-left: 2rem;
    transition: .2s ease-in-out;
}

.navbar-nav a:hover {
    transform: scale(1.1);
}

/*Header*/

.headerContainer {
    background-color: #0f1519;
    padding: 3rem 0;
    text-align: center;
    color: #dfdfdf;
}

.headShot {
    padding-bottom: 2rem;
}

.headerContainer .container h1 {
    color: #efefef;
}

.headerContainer .container p {
    color: #efefef;
}

.headShot img {
    border-radius: 50%;
    border: 0.1rem solid #37878C;
    padding: 0.2rem;
}

.downAnchor {
    color: #405B6B;
    transition: .2s ease-in-out;
}

.downAnchor:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #37878C;
}

/* Intro */

.introClass {
    background-color: #efefef;
}


/* Carousel */

.carHeader {
    color: #FFFFFF;
}

.carPara {
    color: #FFFFFF;
}


/* Gallery */

.galleryHeader {
    color: #405b6b;
}

.galleryContainer {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #efefef;
    text-align: center;
}

.galleryContainer a {
    color: #212529;
    font-family: 'Dm Sans';
}

.galleryContainer a:hover {
    text-decoration: none;
}

.galleryContainer .galleryFooter a {
    text-decoration: underline;
    color: #405b6b;
}

.galleryContainer .galleryFooter a:hover {
    color: #37878C;
}

.storyWrapper {
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: left;
    transition: .2s ease-in-out;
    align-items: center;
}

.storyWrapper h1 {
    font-size: 30px;
}

.storyWrapper:hover {
    transform: scale(1.03);
}

.storyWrapper img {
    border-radius: 2%;
}

.flex-row-reverse div {
    text-align: right;
}


/*Skills Container*/

.skillsContainer {
    background-color: #ececec;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.skillsTable {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillWrapper {
    display: flex;
    flex-direction: column;
}

.favicon {
    padding: 2rem;
    padding-bottom: 0;
}

.self {
    margin: 4px 0 6px;
}

/*About*/

.aboutContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #e5e5e5;
    text-align: center;
}


/*Contact*/

.contactContainer {
    padding: 2rem;
    padding-bottom: 1rem;
    background-color: #0f1519;
}

.contactFlexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contactFavicon {
    padding: 1rem;
    transition: .2s ease-in-out;
}

.flexItem {
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
}

.flexItem:hover {
    color: #37878C;
}

.contactFavicon:hover {
    color: #37878C;
    transform: scale(1.05);
}

p.footerMessege {
    padding-top: 2rem;
}


@media screen and (max-width: 768px) {
    .storyWrapper div {
        text-align: center !important;
    }

    h1 {
        font-size: 30px;
    }

    .storyWrapper h1 {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }

    .storyWrapper .storyText {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .downAnchor:hover {
        transform: none;
    }

    .contactFavicon:hover {
        transform: none;
    }
    
    .headerIntro {
        font-size: 13px;
    }
    
}
